<div class="card" style="width: 28rem; margin-left: 2px;">
    <h2>Visca Barça, visca Catalunya!!</h2>
    <div class="card-body">
    <div>
      <img class="img" src="{{col.photoUrl}}" alt="Card image cap" style="max-height: 250px; width: auto; margin-left: 15px; margin-top: 1px; margin-bottom: 15px ">
    </div>
      <div class="row">
        <div class="col card-text">Matricule :</div><div class="col card-text">{{col.matricule}}</div>
      </div>
      <div class="row">
          <div class="col card-text">Nom :</div><div class="col card-text">{{col.nom}}</div>
      </div>
      <div class="row">
        <div class="col card-text">Prénoms :</div><div class="col card-text">{{col.prenoms}}</div>
      </div>
      <div class="row">
        <div class="col card-text">Date de naissance :</div><div class="col card-text">{{col.dateDeNaissance | date:'dd/MM/yyyy'}}</div>
      </div>
      <div class="row">
        <div  class="col card-text">E-mail :</div>
        <div *ngIf="modeAffichage" class="col card-text">{{col.email}}</div>
        <input *ngIf="!modeAffichage" class="col form-control form-control-sm" type="email" [value]="col.email">
      </div>
    </div>
</div>
<br>
<div class="row" style="margin-left: 2px;">
  <div class="col-2">
    <a href="#" *ngIf="modeAffichage" (click)="creerCol()" class="badge badge-light">Créer un nouveau collègue</a>
  </div>
  <div class="col-2">
    <button *ngIf="modeAffichage" type="button" class="btn btn-primary" (click)="modifierCol()">Modifier</button>
    <button *ngIf="!modeAffichage" type="button" class="btn btn-primary" (click)="validerCol()">Valider</button>
  </div>
</div>
<br>


  